/************ RESET ****************/
* {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

article,
aside,
picture,
footer,
header,
menu,
nav,
section { 
  display: block;
}

/************ ESTILOS DO SITE ****************/
body, html {
  margin: 0;
  font-family: sans-serif;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}
.site-header__img {
  display: block;
  width: 100%;
}


.product {
  width: 32%;
  display: inline-block;
  position: relative;
}
.product__discount {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-color: #e23538;
  border: 5px solid #fef20f;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.product__discount-number {
  font-size: 20px;
  margin: 15px 0 0;
}
.product__discount-text {
  font-size: 10px;
}
.product__img {
  display: block;
  width: 100%;
  transition: all .2s ease-in-out;
}
.product__info,
.product__info tbody {
  border-collapse: collapse;
}
.product__info,
.product__info tr,
.product__info tbody {
  width: 100%;
  display: table;
}
.product__info th,
.product__info td {
  width: 33.3333%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 80%;
}
.product__info th {
  background-color: #af0a05;
  text-transform: uppercase;
}
.product__info td {
  background-color: #383435;
}


.site-footer {
  margin: 20px 0 0;
}
.site-footer__img {
  display: block;
  width: 100%;
}

/***** Efeito Zoom ******/
.product__img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}